[user]
        email = andrewklavo@gmail.com
        name = Andrew Klavekoske
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOCHVcmtZXKydhye6u3tuaxUYzsQFq4rHGgQuwf3LukU
[gpg]
        format = ssh
[gpg "ssh"]
        program = /opt/1Password/op-ssh-sign
[commit]
        gpgsign = true
