[user]
        email = andrewklavo@gmail.com
        name = Andrew Klavekoske
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFi7NLCYGunAvUlKNyWwUz23y8XG5L8OlWsNQ2N+E4zq
[gpg]
        format = ssh
[gpg "ssh"]
        program = /opt/1Password/op-ssh-sign
[commit]
        gpgsign = true
